<nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <svg height="25" width="160" class="mx-1">
                    <image x="0" y="0" height="25" width="160" href="/img/quadyster.svg" />
                </svg>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto navbar-nav-scroll" style="--bs-scroll-height: 500px;">
                        <li class="nav-item">
                            <a class="nav-item nav-link ms-2 me-1" href="#">
                                <i class="fa-solid fa-house-chimney p-1" style="color:darkblue"></i>Clock Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link pe-1 me-2" href="#">
                                <i class="fa-solid fa-list p-1" style="color:darkgreen"></i> Timelog</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-item nav-link me-1" href="/">
                                <i class="fa-solid fa-umbrella-beach p-1" style="color:brown"></i>Holiday</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link me-1" href="#">
                                <i class="fa-solid fa-hand-holding-dollar" style="color:brown"></i> Time Summary</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScroll3" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear p-1 text-info"></i>
                                Settings
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScroll3">
                                <li><a class="dropdown-item" href="#"><i
                                            class="fa-solid fa-gear  p-1 text-info"></i>Settings
                                        1</a></li>
                                <li><a class="dropdown-item me-2" href="#"><i
                                            class="fa-solid fa-gear  p-1 text-info"></i>Settings 2</a></li>
                                <li><a class="dropdown-item me-2" href="#"><i
                                            class="fa-solid fa-gear  p-1 text-info"></i>Settings 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item dropdown pe-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-user pe-2" style="color:purple"></i> Manjari Prakash </a>
                            <div class="dropdown-menu dropdown-menu-right me-2" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-user" style="color:purple"></i>
                                    Manjari
                                    Prakash</a>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-user" style="color:purple"></i>
                                    Change
                                    Password</a>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-user" style="color:purple"></i>
                                    Change
                                    Passphrase</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket"
                                        style="color:red"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        
    </div>

</nav>